#theme-main-banner .container .button-grp,
.theme-main-header.fixed {
	background: #FF391D;
}

.our-features {
	color: #f04d2e;
}

/* .theme-title h2, .theme-title h1,
.our-features .single-feature i,
.theme-footer .bottom-footer .footer-menu li a:hover,
.theme-footer .footer-main-content .footer-list .title a:hover,
#theme-main-banner.banner-three .container .button-grp:hover {
	color: #f04d2e;
} */

#theme-main-banner .container .button-grp:hover {
	background: #f0bc19;
}

.theme-counter .single-box .wrapper {
	background: #FF9D00;
}

body .theme-button {
	color: #fff !important;
}

body .theme-button {
	background-color: #FF391D;
	border-color: #FF391D;
}

body .theme-button span {
	background-color: #FF9D00;
}

body .theme-button:hover span {
	border-color: #FF9D00;
}


.scroll-top {
	background-color: #ff391d;
	border-radius: 50%;
}

.theme-footer .bottom-footer .social-icon li a,
.theme-footer .footer-main-content .social-icon li a {
	background-image: -webkit-linear-gradient(272deg, rgb(238, 72, 39) 0%, rgb(255, 180, 68) 100%);
	background-image: -o-linear-gradient(272deg, rgb(238, 72, 39) 0%, rgb(255, 180, 68) 100%);
	background-image: linear-gradient(2deg, rgb(238, 72, 39) 0%, rgb(255, 180, 68) 100%);
}

.theme-footer .bottom-footer .social-icon li a:hover,
.theme-footer .footer-main-content .social-icon li a:hover {
	background-image: -webkit-linear-gradient(88deg, #B6FF4D 0%, #22C55E 100%);
	background-image: -o-linear-gradient(270deg, #B6FF4D 0%, #22C55E 100%);
	background-image: linear-gradient(178deg, #B6FF4D 0%, #22C55E 100%);
}

.partnership-plan-section .col-inner .table-inner .price {
	color: #FF391D;
}

.partnership-plan-section .col-inner .table-inner:hover .price,
.partnership-plan-section .col-inner .table-inner:hover h6 {
	color: #fff;
}

.partnership-plan-section .col-inner .table-inner:hover ul li {
	color: rgba(255, 255, 255, 0.8);
}

.partnership-plan-section .col-inner .table-inner:hover .theme-button {
	background: #ffffff;
	color: #FF391D;
}

.partnership-plan-section .col-inner .table-inner:hover {
	background: #fe4229;
}

.theme-main-header .navbar-nav .button-group a:hover {
	background: #ff5f4a;
}