#theme-main-banner .container .button-grp {
	background: #ff391d;
}

.theme-main-header.fixed {
	background: #F47025;
}

.theme-title h2,
.theme-title h1,
.our-features .single-feature i,
.theme-footer .bottom-footer .footer-menu li a:hover,
.theme-footer .footer-main-content .footer-list .title a:hover,
#theme-main-banner.banner-three .container .button-grp:hover,
.blog-details .blog-meta-wrapper .social-share li:hover a,
.blog-details .blog-meta-wrapper .post-meta-data .sub-heading {
	/* color: #F47025; */
	color: #ff391d;
}

#theme-main-banner .container .button-grp:hover {
	background: #f0bc19;
}

.theme-counter .single-box .wrapper {
	background: #fb8b7c;
}

body .theme-button {
	background-color: #ff391d;
	border-color: #ff391d;
}

body .theme-button span {
	color: #fff
}

.scroll-top {
	background-color: #ff391d;
	border-radius: 50%;
}

.theme-footer .bottom-footer .social-icon li a,
.theme-footer .footer-main-content .social-icon li a,
.theme-pagination ul li a {
	background-image: -webkit-linear-gradient(272deg, rgb(255, 57, 29) 0%, rgb(252, 110, 81) 100%);
	background-image: -o-linear-gradient(272deg, rgb(255, 57, 29) 0%, rgb(252, 110, 81) 100%);
	background-image: linear-gradient(2deg, rgb(255, 57, 29) 0%, rgb(252, 110, 81) 100%);
}

body .theme-button span {
	background-color: #FF9D00;
}

body .theme-button:hover span {
	border-color: #FF9D00;
}

.theme-footer .bottom-footer .social-icon li a:hover,
.theme-footer .footer-main-content .social-icon li a:hover,
.theme-pagination ul li a:hover,
.theme-pagination ul li.active a {
	background-image: -webkit-linear-gradient(272deg, rgb(238, 72, 39) 0%, rgb(252, 110, 81) 100%);
	background-image: -o-linear-gradient(272deg, rgb(238, 72, 39) 0%, rgb(252, 110, 81) 100%);
	background-image: linear-gradient(2deg, rgb(238, 72, 39) 0%, rgb(252, 110, 81) 100%);
}

.partnership-plan-section .col-inner .table-inner .price {
	color: #efbb19;
}

.partnership-plan-section .col-inner .table-inner:hover .price,
.partnership-plan-section .col-inner .table-inner:hover h6 {
	color: #fff;
}

.partnership-plan-section .col-inner .table-inner:hover ul li {
	color: rgba(255, 255, 255, 0.8);
}

.partnership-plan-section .col-inner .table-inner:hover .theme-button {
	background: #ffffff;
	color: #767482;
}

.partnership-plan-section .col-inner .table-inner:hover {
	background: #ffb5a6;
}

.theme-main-header .navbar-nav .button-group a:hover {
	background: #ffb5a6;
}